*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.shop{
    width: 100%;
    padding: 20px 30px;

}
.shop h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 32px;
    font-weight: 300;
}
.shop p{
    margin-top: 5px;
    color: #bababa;
    font-size: 14px;
    font-weight: 600;
}
.shop .container{
    max-width: 100%;
    display: flex;
    margin-top: 20px;


}
.shop .container .left-box{
    width: 25%;

}
.shop .container .left-box .category{
    border: 3px solid #f6f6f6;
    width: 250px;
}
.shop .container .left-box .category .header{
    max-width: 100%;
    padding: 10px 20px;
    background: #f6f6f6;

}
.shop .container .left-box .category .header h3{
    font-size: 16px;
    color: #232323;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.shop .container .left-box .category .box{
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;

}
.shop .container .left-box .category .box ul{
    max-width: 100%;
}
.shop .container .left-box .category .box ul li{
    list-style: none;
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #8a8a8a;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .left-box .banner{
    margin-top: 20px;
    width: 250px;
}
.shop .container .left-box .banner .img-box{
    width: 250px;
    height: 300px;
    
}
.shop .container .left-box .banner .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop .container .right-box .banner{
    max-width: 100%;
   

}
.shop .container .right-box .banner .img-box{
    width: 100%;
    height: 300px;
    

}
.shop .container .right-box .banner .img-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}
.shop .container .right-box .product-box{
    width: 100%;
    padding: 10px 10px;
}
.shop .container .right-box .product-box h2{
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    margin-top: 10px;
}
.shop .container .right-box .product-box .product-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.shop .container .right-box .product-box .product-container .box{
    width: 270px;
    height: 370px;
    overflow: hidden;
    border: 2px solid #f6f6f6;
    margin-left: 15px;
    margin-top: 20px;
    padding: 10px 10px;

}
.shop .container .right-box .product-box .product-container .box .img-box{
    display: flex;

}
.shop .container .right-box .product-box .product-container .box .img-box img{
    width: 100%;
    height: 240px;
    margin-top: 20px;


}
.shop .container .right-box .product-box .product-container .box .img-box .icon{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px 10px;
    margin-left: 30px;
    transition: 0.5s;
    
}
.shop .container .right-box .product-box .product-container .box .img-box .icon li{
    list-style: none;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    padding: 10px 10px;
    margin-top: 10px;
    color: #8a8a8a;
    background: #fff;
    transition: 0.5s;
}
.shop .container .right-box .product-box .product-container .box .img-box .icon li:hover{
    color: #fff;
    background: #cd1e76;
}
.shop .container .right-box .product-box .product-container .box:hover .img-box .icon{
    margin-left: -45px;
}
.shop .container .right-box .product-box .product-container .box .detail{
    margin-top: 10px;
    width: 100%;

}
.shop .container .right-box .product-box .product-container .box .detail h3{
    text-align: center;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

}
.shop .container .right-box .product-box .product-container .box .detail p{
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #cd1e76;
}
.shop .container .right-box .product-box .product-container .box .detail button{
    margin-left: 35%;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #232323;
    background: #fed700;
    cursor: pointer;
    transition: 0.5s;

}
.shop .container .right-box .product-box .product-container .box .detail button:hover{
    color: #fed700;
    background: #232323;
}
.product-detail{
    width: 900px;
    height: 500px;
    position: fixed;
    top: 50px;
    left: 170px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    padding: 20px 30px;
}
.product-detail .close-btn{
    float: right;
    border: none;
    outline: none;
    background: none;
    color: #cd1e76;
    font-size: 22px;
    cursor: pointer;
}
.product-detail .container{
    width: 100%;
    display: flex;
}
.product-detail .container .img-box{
    padding: 20px 20px;
    background: #f6f6f6;
    border-radius: 10px;


}
.product-detail .container .img-box img{
    width: 200px;
    height: 200px;

}
.product-detail .container .info{
    margin-top:  20px;
    margin-left: 40px;
}
.product-detail .container .info h4{
    color: #8a8a8a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

}
.product-detail .container .info h2{
    margin-top: 30px;
    color: #232323;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;

}
.product-detail .container .info p{
    margin-top: 10px;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}
.product-detail .container .info h3{
    margin-top: 10px;
    font-size: 24px;
    color: #cd1e76;
}
.product-detail .container .info button{
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background: #cd1e76;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}



